<body>

<table class="table table-hover">
 	<tr>
 		<td>Name</td>
 		<td>Email</td>
 	</tr>
 	<% @users.each do |user| %>
 	<tr>
 		<td><%= link_to user.name, user_path(user.id) %></td>
 		<td><%= user.email %></td>
 	</tr>
 	<% end %>
</table>

</body>

<script type=application/javascript>
  var results;

  $.getJSON("/get_users", function(data) {
    results = data;
  });

</script>
